@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Golos+Text:wght@400;500;600;700;800;900&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// global

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  scroll-behavior: smooth;

  // font style
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-golos: "Golos Text", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-lora: "Lora", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-robotoslab: "Roboto Slab", serif;

  // color pallette
  --pri-col: #f0f7ee;
  --sec-col: #6d8a96;
  --util-col: #2d3142;
  --link-col: #003554;
  --hl-col: #fecb54;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    line-height: 1.5;
    font-family: "Merriweather";
  }

  p,
  h2,
  h3,
  h4,
  li {
    color: var(--util-col);
  }
}

// utilities
body {
  .flex {
    display: flex;
  }

  .row {
    flex-direction: row;
  }

  .col {
    flex-direction: column;
  }

  .align {
    align-items: center;
  }

  .justify {
    justify-content: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .glassbg {
    background-color: rgba($color: #2d3142, $alpha: 0.75);
    backdrop-filter: blur(20px);
  }
}

// Universal styling

nav {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;

  div.container {
    justify-content: space-between;
    div {
      img {
        width: 30px;
        margin-right: 20px;
      }
      h2 {
        color: var(--hl-col);
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: var(--font-josefin);
        letter-spacing: 0.15rem;
      }
    }
  }
}

#bindex header {
  width: 100%;

  h2 {
    color: var(--pri-col);
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    span {
      color: var(--hl-col);
      font-size: 3rem;
      line-height: 1;
    }
  }
  div {
    margin: 40px 0px;
    hr {
      width: 140px;
      margin: 0px 10px;
      height: 1px;
      background-color: var(--hl-col);
    }
    i {
      margin: 0px 5px;
      color: var(--hl-col);
    }
  }
}

div.backtotopbutton {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  i {
    font-size: 2rem;
  }
}

#bindex {
  header {
    background: url(img/header.jpg) no-repeat center / cover;
  }

  section.strip {
    background: rgb(230, 244, 255);
    background: linear-gradient(
      90deg,
      rgba(230, 244, 255, 1) 0%,
      rgba(254, 255, 178, 1) 100%
    );
    padding: 10px;
    h2 {
      font-family: var(--font-golos);
      text-align: center;
      padding: 20px 0px 0px;
      font-size: 2rem;
    }
    figure {
      padding: 2rem;
      i {
        color: var(--util-col);
        font-size: 4rem;
      }
      figcaption {
        h3 {
          font-family: var(--font-golos);
        }
        p {
          font-size: 1rem;
        }
      }
      div.details {
        ul {
          li {
            font-family: var(--font-manrope);
          }
        }
      }
    }
  }

  main {
    section.featured {
      padding: 20px 0px;
      h2 {
        font-size: 2rem;
        font-family: var(--font-golos);
        text-align: center;
      }
      div.listing-item {
        div.listing-title {
          position: relative;
          isolation: isolate;

          img {
            z-index: -10;
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          ul {
            height: 20%;
            width: 100%;
            padding: 120px 40px 20px;
            background: rgb(0, 0, 0);
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 1) 10%,
              rgba(255, 255, 255, 0) 100%
            );
            z-index: 3;
            align-self: flex-end;

            h3,
            li {
              font-family: var(--font-golos);
              color: #f0f7ee;
            }

            h3 {
              font-weight: 500;
              font-size: 2rem;
            }
          }
        }

        div.listing-detail {
          h3,
          li {
            font-family: var(--font-golos);
          }
          div {
            ul {
              li {
                line-height: 1.5;
                i {
                  width: 40px;
                }
              }
            }
          }
          p {
            margin: 20px 0px;
          }
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 719px) {
  div.container {
    nav {
      ul.desktop {
        display: none;
      }
      i {
        color: var(--hl-col);
        font-size: 1.75rem;
      }
    }
  }

  #bindex header {
    min-height: 60vh;
    background-size: auto;
  }

  section.strip {
    div.container {
      flex-direction: column;
      figure {
        i {
          margin-right: 1.75rem;
        }
      }
    }
  }

  main {
    section.featured {
      div.listing-item {
        flex-direction: column;
        div.listing-title {
          margin-top: 20px;
          height: 400px;
          width: 100%;
          ul {
            li {
              margin: 4px 0px;
              font-size: 1rem;
            }
          }
        }
      }

      div.listing-detail {
        background-color: #f0f7ee;
        padding: 30px;
        h3 {
          margin-bottom: 10px;
        }
        div {
          ul {
            width: 50%;
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: 720px) {
  nav {
    div.container {
      ul.desktop {
        display: flex;
        li {
          color: var(--hl-col);
          font-weight: 500;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          font-family: var(--font-roboto);
          font-size: 1rem;
          margin: 0px 10px;
        }
      }
      i {
        display: none;
      }
    }
  }

  #bindex header {
    min-height: 80vh;
    background-size: auto;
    h2 {
      margin-top: 60px;
    }
  }

  section.strip {
    figure {
      flex-direction: column;
      i {
        margin-bottom: 40px;
      }
    }
  }

  main {
    section.featured {
      div.listing-item {
        flex-direction: row;
        div.listing-title {
          margin-top: 20px;
          height: 400px;
          width: 60%;
          ul {
            li {
              margin: 4px 0px;
              font-size: 1rem;
            }
          }
        }
      }

      div.listing-detail {
        background-color: #f0f7ee;
        margin-top: 20px;
        width: 40%;
        padding: 40px;
        h3 {
          margin-bottom: 10px;
        }
        div {
          ul {
            width: 50%;
          }
        }
      }
    }
  }
}
