@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Golos+Text:wght@400;500;600;700;800;900&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
  transition: all 100ms ease-in;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-golos: "Golos Text", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-lora: "Lora", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-robotoslab: "Roboto Slab", serif;
  --pri-col: #f0f7ee;
  --sec-col: #6d8a96;
  --util-col: #2d3142;
  --link-col: #003554;
  --hl-col: #fecb54;
}
* a {
  color: inherit;
  text-decoration: none;
}
* p {
  line-height: 1.5;
  font-family: "Merriweather";
}
* p,
* h2,
* h3,
* h4,
* li {
  color: var(--util-col);
}

body .flex {
  display: flex;
}
body .row {
  flex-direction: row;
}
body .col {
  flex-direction: column;
}
body .align {
  align-items: center;
}
body .justify {
  justify-content: center;
}
body .container {
  width: 90%;
  margin: 0 auto;
}
body .glassbg {
  background-color: rgba(45, 49, 66, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
body button.button {
  padding: 0.35rem 0.5rem;
  justify-self: flex-end;
  align-self: flex-end;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: #fecb54;
  font-weight: 500;
  background-color: #003554;
  border-color: transparent;
  cursor: pointer;
}
body button:hover {
  filter: drop-shadow(2px 2px 0px var(--hl-col));
}
body .lightbg {
  background-color: rgba(240, 247, 238, 0.75);
}

nav {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}
nav div.container {
  justify-content: space-between;
}
nav div.container div img {
  width: 30px;
  margin-right: 20px;
}
nav div.container div h2 {
  color: var(--hl-col);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: var(--font-josefin);
  letter-spacing: 0.15rem;
}

#bindex header {
  width: 100%;
}
#bindex header h2 {
  color: var(--pri-col);
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
#bindex header h2 span {
  color: var(--hl-col);
  font-size: 3rem;
  line-height: 1;
}
#bindex header div {
  margin: 40px 0px;
}
#bindex header div hr {
  width: 140px;
  margin: 0px 10px;
  height: 1px;
  background-color: var(--hl-col);
}
#bindex header div i {
  margin: 0px 5px;
  color: var(--hl-col);
}

div.backtotopbutton {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}
div.backtotopbutton i {
  font-size: 2rem;
}

#bindex header {
  background: url(img/header.jpg) no-repeat center/cover;
}
#bindex section.strip {
  background: rgb(230, 244, 255);
  background: linear-gradient(90deg, rgb(230, 244, 255) 0%, rgb(254, 255, 178) 100%);
  padding: 10px;
}
#bindex section.strip h2 {
  font-family: var(--font-golos);
  text-align: center;
  padding: 20px 0px 0px;
  font-size: 2rem;
}
#bindex section.strip figure {
  padding: 2rem;
}
#bindex section.strip figure i {
  color: var(--util-col);
  font-size: 4rem;
}
#bindex section.strip figure figcaption h3 {
  font-family: var(--font-golos);
}
#bindex section.strip figure figcaption p {
  font-size: 1rem;
}
#bindex section.strip figure div.details ul li {
  font-family: var(--font-manrope);
}
#bindex main section.featured {
  padding: 20px 0px;
}
#bindex main section.featured h2 {
  font-size: 2rem;
  font-family: var(--font-golos);
  text-align: center;
}
#bindex main section.featured div.listing-item div.listing-title {
  position: relative;
  isolation: isolate;
}
#bindex main section.featured div.listing-item div.listing-title img {
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#bindex main section.featured div.listing-item div.listing-title ul {
  height: 20%;
  width: 100%;
  padding: 120px 40px 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
  align-self: flex-end;
}
#bindex main section.featured div.listing-item div.listing-title ul h3,
#bindex main section.featured div.listing-item div.listing-title ul li {
  font-family: var(--font-golos);
  color: #f0f7ee;
}
#bindex main section.featured div.listing-item div.listing-title ul h3 {
  font-weight: 500;
  font-size: 2rem;
}
#bindex main section.featured div.listing-item div.listing-title ul li {
  opacity: 0.5;
  font-size: 0.85rem;
}
#bindex main section.featured div.listing-item div.listing-detail h3,
#bindex main section.featured div.listing-item div.listing-detail li {
  font-family: var(--font-golos);
}
#bindex main section.featured div.listing-item div.listing-detail div ul li {
  line-height: 1.5;
}
#bindex main section.featured div.listing-item div.listing-detail div ul li i {
  width: 40px;
}
#bindex main section.featured div.listing-item div.listing-detail p {
  margin: 20px 0px;
}

@media screen and (max-width: 719px) {
  nav ul.desktop {
    display: none;
  }
  nav i {
    color: var(--hl-col);
    font-size: 1.75rem;
  }
  #bindex header {
    min-height: 60vh;
    background-size: auto;
  }
  section.strip div.container {
    flex-direction: column;
  }
  section.strip div.container figure i {
    margin-right: 1.75rem;
  }
  main section.featured div.listing-item {
    margin-top: 20px;
    flex-direction: column;
  }
  main section.featured div.listing-item div.listing-title {
    height: 400px;
    width: 100%;
  }
  main section.featured div.listing-item div.listing-title ul li {
    margin: 4px 0px;
    font-size: 1rem;
  }
  main section.featured div.listing-item div.listing-detail {
    padding: 30px;
  }
  main section.featured div.listing-item div.listing-detail h3 {
    margin-bottom: 10px;
  }
  main section.featured div.listing-item div.listing-detail div ul {
    margin-right: 10px;
    width: 50%;
  }
  main section.featured div.listing-card {
    margin: 20px 0px 0px;
    width: 100%;
    flex-direction: column;
  }
  main section.featured div.listing-card figure {
    margin: 0px 0px 20px;
  }
  main section.featured div.listing-card figure img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.featured div.listing-card figure figcaption {
    width: 50%;
    padding: 30px;
    font-family: var(--font-golos);
    line-height: 1.5;
  }
  main section.featured div.listing-card figure figcaption li.sublist-item {
    font-size: 0.75rem;
    opacity: 0.85;
  }
  main section.featured div.listing-card figure figcaption div {
    justify-content: space-between;
    margin: 20px 0px;
    flex-direction: column;
  }
  main section.featured div.listing-card figure figcaption div ul li i {
    width: 30px;
  }
  main section.featured div.listing-card figure figcaption button.button {
    align-self: flex-end;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 720px) {
  nav div.container ul.desktop {
    display: flex;
  }
  nav div.container ul.desktop li {
    color: var(--hl-col);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-roboto);
    font-size: 1rem;
    margin: 0px 10px;
  }
  nav div.container i {
    display: none;
  }
  #bindex header {
    min-height: 60vh;
    background-size: auto;
  }
  #bindex header h2 {
    margin-top: 60px;
  }
  section.strip figure {
    flex-direction: column;
  }
  section.strip figure i {
    margin-bottom: 40px;
  }
  main section.featured div.listing-item {
    flex-direction: row;
    margin-top: 20px;
  }
  main section.featured div.listing-item div.listing-title {
    width: 60%;
  }
  main section.featured div.listing-item div.listing-title ul li {
    margin: 4px 0px;
    font-size: 1rem;
  }
  main section.featured div.listing-item div.listing-detail {
    margin-top: 20px;
    width: 40%;
    padding: 40px;
  }
  main section.featured div.listing-item div.listing-detail h3 {
    margin-bottom: 10px;
  }
  main section.featured div.listing-item div.listing-detail div ul {
    width: 50%;
  }
  main section.featured div.listing-card {
    margin: 20px 0px;
    width: 100%;
    flex-direction: row;
  }
  main section.featured div.listing-card figure:nth-child(2) {
    margin: 0px 20px;
  }
  main section.featured div.listing-card figure {
    flex-direction: column;
    justify-content: space-between;
  }
  main section.featured div.listing-card img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.featured div.listing-card figcaption {
    width: 80%;
    padding: 30px;
    font-family: var(--font-golos);
    line-height: 1.5;
  }
  main section.featured div.listing-card figcaption li.sublist-item {
    font-size: 0.75rem;
    opacity: 0.85;
  }
  main section.featured div.listing-card figcaption div {
    justify-content: space-between;
    margin: 20px 0px;
  }
  main section.featured div.listing-card figcaption div ul li i {
    width: 20px;
  }
  main section.featured div.listing-card figcaption button.button {
    align-self: flex-end;
    justify-self: flex-end;
  }
}/*# sourceMappingURL=style.css.map */